.subjects {
    width: 500px;
    min-height: 500px;
    padding: 25px;
    text-align: center;
    background-color: lighten(grey, 40%);
    border-radius: 10px;
    hr {
        border-top: 1px solid white;
    }
    td, th {
        text-align: left;
        padding: 10px;
    }
    form {
        width: 70%;
        margin: 0 auto;
        .form-group {
            position: relative;
            padding-bottom: 15px;
            .help-block {
                position: absolute;
                left: 10px;
            }
        }
    }
    table {
        width: 80%;
        margin: 40px auto;
        border: 1px solid white;
    }
}
#page-content-wrapper {
    width: 800px;
    min-height: 800px;
}
.sidebar-nav li {
    font-size: 1.4em;
    .icon {
        width: 30px;
    }
    .link {
        width: 100px;
        margin-left: 20px;
    }
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('checks1.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}



